:root {
  --vosc: #674ab3;
  --vmedio: #a348a6;
  --violeta: #9f63c4;
  --vcla: #9075d8;
  --vrosa: #cea2d7;
  --letraTabla: "Oswald", sans-serif;
  --letraBoton: "Secular One", sans-serif;
}

.table-wrapper {
  overflow: hidden;
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  font-family: var(--letraTabla);
}

.fl-table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background: transparent;
  border: 2px solid #e1ffff80;
  backdrop-filter: blur(20px);
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

/* Afecta a las pares "even" 2n*/
.fl-table tr:nth-child(even) {
  background-image: radial-gradient(#0fffff80, transparent);
}

/* Afecta a las impares "odd" 2n+1*/
.fl-table tr:nth-child(odd) {
  background-image: radial-gradient(#324960, transparent);
  color: white;
}

.btn:link,
.btn:visited {
  font-family: var(--letraBoton);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  margin: 1%;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #4fc3a1;
  color: #00156b;
}

/* Responsive */

@media (max-width: 800px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;

    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background-image: linear-gradient(#0fffff80, transparent);
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }

  .btn:link,
  .btn:visited {
    text-align: center;
    padding: auto;
    margin: 10px auto;
    display: block;
  }
}

/* Mini Core */

.ContenedorT {
  margin: 2%;
  background: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px 0 #00000080;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.ContenedorT input {
  margin-bottom: 10px;
}